name: Lint

on: push

jobs:
  lint:
    if: false
    name: Lint code
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - name: Checkout the code
        uses: actions/checkout@v4 # https://github.com/actions/checkout
      - name: Setup Node.js
        uses: actions/setup-node@v4 # https://github.com/actions/setup-node
        with:
          node-version: '20.x'
          cache: 'npm'
        env:
          NPM_CONFIG_IGNORE_SCRIPTS: true
      - run: npm i
      - run: npm run lint
